.div {
  border: solid 1px red;
}

.NavLink {
  color: black;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 20px !important;
}

#img {
  filter: opacity(30%) brightness(100%);
  /* filter: brightness(100%); */
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  /* background-color: black; */
  display: none;
}

#sliderindicator {
  background-color: #ffd966;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  /* size: "sm"; */
}

.active,
#sliderindicator:hover {
  background-color: white !important;
  color: white !important;
}

.centered {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 900px) {
  .centered {
    height: 90%;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.embed-responsive-item {
  height: 70% !important;
}

#videoDiv {
  height: 120% !important;
}

.cardImg {
  height: 70% !important;
  width: 70% !important;
}

.card {
  width: 230px !important;
  height: 50% !important;
}

.card-group {
  text-align: center !important;
  margin-left: 4% !important;
}

.homeDiv {
  /* background-image: url("../assets/homeCompanies.png");
  height: 90vh !important; */
}

.companiesImg {
  height: 60vh;
  padding-bottom: -1%;
  display: inline-block;
}

.Media {
  border: none !important;
  margin-top: 10%;
  margin-right: 8%;
}

.pimg {
  margin-top: 20%;
}

.div2 {
  text-align: center;
  display: inline-block;
}

/* .footerLogo {
  margin-bottom: -90% !important;
} */

.NavLink {
  color: white;
}
#footer {
  background-color: black !important;
}
